<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		">

	<bean id="stepAConditionalBean" class="com.maldiny.spring.batch.flow.control.CustomConditionalTasklet">
		<property name="taskletName" value="stepA"/>
	</bean>
	<bean id="stepBConditionalBean" class="com.maldiny.spring.batch.flow.control.CustomConditionalTasklet">
		<property name="taskletName" value="stepB"/>
	</bean>
	<bean id="stepCConditionalBean" class="com.maldiny.spring.batch.flow.control.CustomConditionalTasklet">
		<property name="taskletName" value="stepC"/>
	</bean>

	<bean id="stepABean" class="com.maldiny.spring.batch.flow.control.CustomTasklet">
		<property name="taskletName" value="stepA"/>
	</bean>
	<bean id="stepBBean" class="com.maldiny.spring.batch.flow.control.CustomTasklet">
		<property name="taskletName" value="stepB"/>
	</bean>
	<bean id="stepCBean" class="com.maldiny.spring.batch.flow.control.CustomTasklet">
		<property name="taskletName" value="stepC"/>
	</bean>
	
</beans>